.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title_margin {
  margin-left: 64px;
}
.header__title {
  z-index: 2;
}
.header__title h1 {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 730px;
}
.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
}
.subtitle__link {
  color: #2f80ed;
}

.header__main-illustration img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}
.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.two-columns_margin {
  margin: 100px 0;
}
.two-columns__brief h2 {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  width: 175px;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 100px 0;
}
.section-title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}
.section-subtitle_theme_light {
  margin-top: 20px;
}
.section-subtitle_theme_dark {
  margin: 20px 0 0px 0;
  color: white;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  z-index: 2;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__cell :last-child {
  margin: 0;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__cell_theme_dark :last-child {
  margin: 0;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
}
.feynman {
  height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feynman__title {
  width: 648px;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.feynman__title_padding {
  padding-top: 100px;
}
.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}
.feynman__subtitle_margin {
  margin-top: 70px;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}
.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: normal;
}
.kaufman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  width: 877px;
  height: 877px;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px 0;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.footer__column_content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 771px;
}
.logo_place-footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
}
.footer__column_content-info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer__social-icon {
  margin-right: 10px;
}
